body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.top-bar {
  background-color: #202020;
  border-bottom: 3px solid #000;
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  border-top: 3px solid #000;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  -webkit-app-region: drag;
}

.icons {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.icons img {
  height: 15px;
  cursor: pointer;
}

.icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 50px;
  height: 40px;

  transition: background-color 0.2s ease-in-out;
}

.icon-container:hover,
.icon-container:active {
  filter: brightness(80%);
  background-color: #333;
}

.icon-container:active img {
  filter: brightness(60%);
}

.icons {
  -webkit-app-region: none;
  cursor: pointer;
}

.icon-btn {
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
  background-color: transparent;
}

#overlay1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  image-rendering: auto;
}

#gradient-canvas {
  transform: blur(3px);
  width:100%;
  height:100vh;
  --gradient-color-1: #4F809E; 
  --gradient-color-2: #202020; 
  --gradient-color-3: #152F35;  
  --gradient-color-4: #F9C165;
}

.button1 {
  position: fixed;
  top: calc(771px - 364px / 4); /* /!\ /!\ */
  left: calc(538px - 87px * 2); /* /!\ /!\ */
  width: 364px;
  height: 87px;
  border: 1px solid #1E1E1E;
  border-width: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-style: #152F35;
  font-family: 'ABeeZee', sans-serif;
}

@font-face {
  font-family: 'ABeeZee';
  src: url('icons/ABeeZee-Regular.ttf');
}

.button1:active {
  transform: scale(0.95);
}

