/* Fade-in animation for the body element */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1E1E1E;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
body.loaded {
    opacity: 1;
}

.top-bar {
    background-color: #202020;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    border-top: 3px solid #000;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    -webkit-app-region: drag;
    z-index: 9999; 
}
  
.icons {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
  
.icons img {
    height: 15px;
    cursor: pointer;
}
  
.icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 50px;
    height: 40px;
  
    transition: background-color 0.2s ease-in-out;
}
  
.icon-container:hover,
.icon-container:active {
    filter: brightness(80%);
    background-color: #333;
}
  
.icon-container:active img {
    filter: brightness(60%);
}
  
.icons {
    -webkit-app-region: none;
    cursor: pointer;
}
  
.icon-btn {
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 0;
    background-color: transparent;
}

#searchResults {
    position: fixed;

    height: 100%;
    width: 100%;
    
    margin-top: 46px;
}

/*
.blink {
    animation: blink 0.5s infinite alternate;
}

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.2;
    }
}

#noWifi {
    position: fixed;
}

.fade {
    animation: fade 1s forwards;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}
*/
.divTabs {
    align-items: left;
}

#tab{
  width: 100px;
  height: 25px;
  background-color: #ccc;
  border-radius: 10px 10px 0 0;
  position: absolute;
}