body {
    padding: 0;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-color: #fff;
}
  
body.loaded {
    opacity: 1;
}

tab-group {
    display: block;
    position: absolute;
    height: 100%;
    margin: 0px;
    -webkit-app-region: none;
}

.top-bar {
    background-color: #202020;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    border-top: 3px solid #000;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    -webkit-app-region: drag;
}

.icons {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.icons img {
    height: 15px;
    cursor: pointer;
}

.icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 50px;
    height: 40px;

    transition: background-color 0.2s ease-in-out;
}

.icon-container:hover,
.icon-container:active {
    filter: brightness(80%);
    background-color: #333;
}

.icon-container:active img {
    filter: brightness(60%);
}

.icons {
    -webkit-app-region: none;
    cursor: pointer;
}

.icon-btn {
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 0;
    background-color: transparent;
}

#searchBar {
    border-top: 3px solid #333;
    position: fixed;
    background-color: #333;
    height: 50px;
    width: 100%;
    top: 45px;
    left: 0px;
    margin-left: 14px;
    margin-right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leftLogos{
    left: 14px;
    align-items: left;
    display: inline-flex;
    justify-content: space-between;
}

.controlBrowser {
    width: 40px;
    height: 40px;
}

#lowBar {
    border-top: 3px solid #333;
    position: fixed;
    background-color: #333;
    width: 100%;
    height: 50px;
    top: 45px;
    left: 0px;
    margin-right: 14px;
    -webkit-app-region: none;
}

#leftLogo:active {
    content: url("icons/arrowcircleleftbold.png");
}

#rightLogo:active {
    content: url("icons/arrowcirclerightbold.png");
}

#reloadLogo:active {
    content: url("icons/arrowrotaterightbold.png");
}

#homeLogo:active {
    content: url("icons/home3bold.png");
}

#textInput {
    flex: 2; /* Added this line */
    width: 100%;
    margin-left: 10px;
}

input[type="text"] {
    background-color: #ddd;
    padding: 10px;
    border: 1px solid #202020;
    border-width: 3px;
    border-radius: 50px;
    font-size: 14px;
    font-family: 'ABeeZee', sans-serif;
    box-sizing: border-box;
    outline: none;
    padding-left: 13px;
    padding-right: 15px;
    width: 100%;
}

#rightLogos {
    align-items: left;
    display: inline-flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 28px;
}

#passwordLogo:active {
    content: url("icons/keysquarebold.png");
}

#configMenuLogo:active {
    content: url("icons/hambergermenubold.png");
}



.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


#keychain-popup {
  background: #00000099;
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 5px;
  width: 300px;
  height: 400px;
  color: white;
  display: flex;
  flex-direction: column;
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 90999;
  animation: fadeIn1 0.3s ease-in-out forwards;
  font-family: 'ABeeZee', sans-serif;

}
@keyframes fadeIn1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#password-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#password-form label {
  color: white;
}

#password-form input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

#password-form button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: white;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

#password-form button:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

#password-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#password-list li {
  color: white;
  padding: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
}

#password-list li:last-child {
  border: none;
}

#password-list li span {
  display: inline-block;
  width: 75%;
}

#password-list li .delete-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

#password-list li .delete-btn:hover {
  text-decoration: underline;
}

#view-passwords-btn {
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

#view-passwords-btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
}