/* Fade-in animation for the body element */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1E1E1E;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
body.loaded {
    opacity: 1;
}

.top-bar {
    background-color: #202020;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    border-top: 3px solid #000;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    -webkit-app-region: drag;
    z-index: 9999; 
}
  
.icons {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
  
.icons img {
    height: 15px;
    cursor: pointer;
}
  
.icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 50px;
    height: 40px;
  
    transition: background-color 0.2s ease-in-out;
}
  
.icon-container:hover,
.icon-container:active {
    filter: brightness(80%);
    background-color: #333;
}
  
.icon-container:active img {
    filter: brightness(60%);
}
  
.icons {
    -webkit-app-region: none;
    cursor: pointer;
}
  
.icon-btn {
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 0;
    background-color: transparent;
}

#searchResults {
    position: fixed;

    height: 100%;
    width: 100%;
    
    margin-top: 46px;
}

/*
.blink {
    animation: blink 0.5s infinite alternate;
}

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.2;
    }
}

#noWifi {
    position: fixed;
}

.fade {
    animation: fade 1s forwards;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}
*/
.divTabs {
    width: 100%;
    height: 100%;
    align-items: left;
    display: flex;


}
/*TAB ANIMATION*/
.tabs {
	float: left;
    display: flex;

	width: 90px;
	padding: 10px 15px;
	height: 14px;

    top: -5px;

    align-items: left;
    justify-content: left;

	position: relative;

	background-color: #333;

	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
    animation: tab-width 0.2s ease-in-out forwards;
    transition: background-color 0.2s ease-in-out;
    -webkit-app-region: none;
}

.cross-button {
    position: relative;
    align-items: center;
    margin-left: 30px;
    width: 24px;
    height: 24px;
    top: -4px;
    background-color: transparent;
    border-radius: 50%;
    animation: close-width 0.2s ease-in-out forwards;
    cursor: pointer;
    -webkit-app-region: none;
}
 
#logoTab {
    position: relative;
    align-items: center;

    width: 18px;
    height: 18px;
    top: -1.5px;
    background-color: transparent;
    border-radius: 50%;
    animation: logo-width 0.2s ease-in-out forwards;
    cursor: pointer;
}

#textTab {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: -10px;
    top: 1px;
    font-size: 13px;
    font-style: #fff;
    font-family: 'ABeeZee', sans-serif;
}
  
@font-face {
    font-family: 'ABeeZee';
    src: url('icons/ABeeZee-Regular.ttf');
}

#imgCross {
    align-items: center;
    opacity: 1;
    top: -5px;
    left: 0px;
}

.openBtns {
    position: relative;
    top: 0; /* Margin to offset the button */
    margin-left: 5px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
    opacity: 1;
    -webkit-app-region: none;
}

.openBtns:hover {
    opacity: 0.8;
    background-color: #333;
}

.openBtns:active {
    opacity: 0.5;
    background-color: #444;
}

.cross-button:hover {
    background-color: #444;
}

.cross-button:active {
    background-color: #555;
}

.imgCross:hover {
    opacity: 0.8;
}

.imgCross:active {
    opacity: 0.5;
}


.tabs:hover {
    background-color: #444; /* change to a darker color on hover */
}

.tabs:active {
    background-color: #333; /* change to a darker color on hover */
}

@keyframes tab-width {
  from { width: 0px; }
  to { width: 120px; }
}

@keyframes close-width {
    from { width: 0px; }
    to { width: 24px; }
}

@keyframes logo-width {
    from { width: 0px; }
    to { width: 18px; }
}

.tabs:before,
.tabs:after {
	content: "";
	position: absolute;

	height: 15px;
	width: 10px;

	bottom: 0;
}

.tabs:after {
	right: -10px;

	border-radius: 0 0 0 7px;
	-moz-border-radius: 0 0 0 7px;
	-webkit-border-radius: 0 0 0 7px;

	-webkit-box-shadow: -7px 0 0 0 #333;
	box-shadow: -7px 0 0 0 #333;
}

.tabs:hover:after {
	right: -10px;

	border-radius: 0 0 0 7px;
	-moz-border-radius: 0 0 0 7px;
	-webkit-border-radius: 0 0 0 7px;

	-webkit-box-shadow: -7px 0 0 0 #444;
	box-shadow: -7px 0 0 0 #444;
}

.tabs:active:after {
	right: -10px;

	border-radius: 0 0 0 7px;
	-moz-border-radius: 0 0 0 7px;
	-webkit-border-radius: 0 0 0 7px;

	-webkit-box-shadow: -7px 0 0 0 #333;
	box-shadow: -7px 0 0 0 #333;
}

.tabs:before {
	left: -10px;

	border-radius: 0 0 7px 0;
	-moz-border-radius: 0 0 7px 0;
	-webkit-border-radius: 0 0 7px 0;

	-webkit-box-shadow: 7px 0 0 0 #333;
	box-shadow: 7px 0 0 0 #333;
}

.tabs:hover:before {
	left: -10px;

	border-radius: 0 0 7px 0;
	-moz-border-radius: 0 0 7px 0;
	-webkit-border-radius: 0 0 7px 0;

	-webkit-box-shadow: 7px 0 0 0 #444;
	box-shadow: 7px 0 0 0 #444;
}

.tabs:active:before {
	left: -10px;

	border-radius: 0 0 7px 0;
	-moz-border-radius: 0 0 7px 0;
	-webkit-border-radius: 0 0 7px 0;

	-webkit-box-shadow: 7px 0 0 0 #333;
	box-shadow: 7px 0 0 0 #333;
}
