body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1E1E1E;
    animation: fadeIn 0.5s ease-in-out forwards;
    opacity: 0.1;
}
  
@keyframes fadeIn {
    0% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
}

.top-bar {
    background-color: #202020;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    border-top: 3px solid #000;
    color: #fff;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    -webkit-app-region: drag;
}
  
.icons {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
  
.icons img {
    height: 15px;
    cursor: pointer;
}
  
.icon-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 50px;
    height: 40px;
  
    transition: background-color 0.2s ease-in-out;
}
  
.icon-container:hover,
.icon-container:active {
    filter: brightness(80%);
    background-color: #333;
}
  
.icon-container:active img {
    filter: brightness(60%);
}
  
.icons {
    -webkit-app-region: none;
    cursor: pointer;
}
  
.icon-btn {
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    padding: 0;
    background-color: transparent;
}

#gradient-canvas {
    transform: blur(3px);
    width:100%;
    height:100vh;
    background-size: cover;
    --gradient-color-1: #4F809E; 
    --gradient-color-2: #202020; 
    --gradient-color-3: #152F35;  
    --gradient-color-4: #F9C165;
}

#overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: 'ABeeZee';
    src: url('icons/ABeeZee-Regular.ttf');
}

.image-container {
  height: 50%;
  width: 50%;
}

.text {
  background-color: white;
  color: black;
  font-size: 10vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 50%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 200px;/* Position text in the middle */
  left: 200px; /* Position text in the middle */
  mix-blend-mode: screen; /* This makes the cutout text possible */
}

input[type="text"] {
    position: fixed;
    background-color: #ddd;
    top: 423px;
    left: 228px;
    padding: 10px;
    border: 1px solid #000;
    border-width: 3px;
    border-radius: 50px;
    font-size: 30px;
    font-family: 'ABeeZee', sans-serif;
    height: 87px;
    width: 612px;
    box-sizing: border-box;
    outline: none;
    padding-left: 30px;
    padding-right: 85px;
}

#searchBtn {
    position: fixed;
    background-color: transparent;
    top: 440px;
    left: 760px;
    border: none;
}

#searchBtn img {
    padding: 1px;
    cursor: pointer;
}

#magicBtn {
    position: fixed;
    background-color: transparent;
    top: 473px;
    left: 214px;
    height: 29px;
    width: 29px;
    border: none;
    cursor: pointer;
    border-radius: 100px;
}

#amazonBtn {
    position: fixed;
    background-color: #000;
    border: none;
    cursor: pointer;
    top: 661px;
    left: 110.5px;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    border-radius: 100px;
    opacity: 0;
}

#amazonBtn:hover {
    cursor: pointer;
    opacity: 0.10;
}

#amazonBtn:active {
    cursor: pointer;
    opacity: 0.25;
}

#githubBtn {
    position: fixed;
    background-color: #000;
    border: none;
    cursor: pointer;
    top: 661px;
    left: 220px;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    border-radius: 100px;
    opacity: 0;
}

#githubBtn:hover {
    cursor: pointer;
    opacity: 0.10;
}

#githubBtn:active {
    cursor: pointer;
    opacity: 0.25;
}

#discordBtn {
    position: fixed;
    background-color: #000;
    border: none;
    cursor: pointer;
    top: 661px;
    left: 330px;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    border-radius: 100px;
    opacity: 0;
}

#discordBtn:hover {
    cursor: pointer;
    opacity: 0.10;
}

#discordBtn:active {
    cursor: pointer;
    opacity: 0.25;
}

#gmailBtn {
    position: fixed;
    background-color: #000;
    border: none;
    cursor: pointer;
    top: 661px;
    left: 436.9px;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    border-radius: 100px;
    opacity: 0;
}

#gmailBtn:hover {
    cursor: pointer;
    opacity: 0.10;
}

#gmailBtn:active {
    cursor: pointer;
    opacity: 0.25;
}

#twitterBtn {
    position: fixed;
    background-color: #000;
    border: none;
    cursor: pointer;
    top: 661px;
    left: 546.9px;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    border-radius: 100px;
    opacity: 0;
}

#twitterBtn:hover {
    cursor: pointer;
    opacity: 0.10;
}

#twitterBtn:active {
    cursor: pointer;
    opacity: 0.25;
}

#steamBtn {
    position: fixed;
    background-color: #000;
    border: none;
    cursor: pointer;
    top: 661px;
    left: 656px;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    border-radius: 100px;
    opacity: 0;
}

#steamBtn:hover {
    cursor: pointer;
    opacity: 0.10;
}

#steamBtn:active {
    cursor: pointer;
    opacity: 0.25;
}

#spotiBtn {
    position: fixed;
    background-color: #000;
    border: none;
    cursor: pointer;
    top: 661px;
    left: 764.5px;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    border-radius: 100px;
    opacity: 0;
}

#spotiBtn:hover {
    cursor: pointer;
    opacity: 0.10;
}

#spotiBtn:active {
    cursor: pointer;
    opacity: 0.25;
}

#driveBtn {
    position: fixed;
    background-color: #000;
    border: none;
    cursor: pointer;
    top: 661px;
    left: 873px;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    border-radius: 100px;
    opacity: 0;
}

#driveBtn:hover {
    cursor: pointer;
    opacity: 0.10;
}

#driveBtn:active {
    cursor: pointer;
    opacity: 0.25;
}

#youtubeBtn {
    position: fixed;
    background-color: #000;
    border: none;
    cursor: pointer;
    top: 661px;
    left: 983px;
    transform: translate(-50%, -50%);
    height: 80px;
    width: 80px;
    border-radius: 100px;
    opacity: 0;
}

#youtubeBtn:hover {
    cursor: pointer;
    opacity: 0.10;
}

#youtubeBtn:active {
    cursor: pointer;
    opacity: 0.25;
}
